@font-face {
	font-family: 'Lane-Narrow';
	src: url('fonts/Lane-Narrow.ttf.woff') format('woff'), url('fonts/Lane-Narrow.ttf.svg#Lane-Narrow') format('svg'), url('fonts/Lane-Narrow.ttf.eot'), url('fonts/Lane-Narrow.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rodus-Square';
	src: url('fonts/rodussquare700-webfont.woff') format('woff'), url('fonts/rodussquare700-webfont.svg') format('svg'), url('fonts/rodussquare700-webfont.eot');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Rodus-Square';
	src: url('fonts/rodussquare500-webfont.woff') format('woff'), url('fonts/rodussquare500-webfont.svg') format('svg'), url('fonts/rodussquare500-webfont.eot');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Rodus-Square';
	src: url('fonts/rodussquare300-webfont.woff') format('woff'), url('fonts/rodussquare300-webfont.svg') format('svg'), url('fonts/rodussquare300-webfont.eot');
	font-weight: 300;
	font-style: normal;
}
html {
	height: 100%;
	box-sizing: border-box;
}
body {
	font-family: 'Lane-Narrow';
	font-weight: 400;
	background: #fff;
	overflow-x: hidden;
	color: #000;
	position: relative;
	margin: 0;
	min-height: 100%;
	font-size: 18px;
	padding-bottom: 105px;
}
body:before {
	background: url(img/map-bg.jpg) left top no-repeat;
	content: " ";
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.container-fluid {
	max-width: 1220px;
}
#spacer10 {
	height:10vh;
}
.spacer5 {
	height:5vh;
}
a:hover {
	text-decoration: none;
}
#menu {
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	padding: 0px 15px 15px 15px;
}
#menu .navbar-brand img {
	height: 74px;
	transition: all 0.3s ease;
}
.navbar-fixed-bottom, .navbar-fixed-top {
	z-index: 900;
}
#menu .navbar-toggle {
	font-size: 16px;
	padding: 5px 15px;
	font-weight: 700;
	margin-top: 22px;
	color: #fff;
	background: #000;
	border-radius: 0;
}
#menu li > a {
	font-size: 16px;
	position: relative;
}
#menu li {
	margin-left: 25px;
	font-weight: 700;
}
#menu li > a,
#menu li > a:focus {
	color: #000;
}
.nav > li > a:focus,
.nav > li > a:hover {
	background-color: transparent;
}
.features {
	margin-top: 150px;
}
.features li {
	font-weight: bold;
	margin: 30px 0;
}
.filter-black {
	-webkit-filter: brightness(0);
	-o-filter: brightness(0);
	filter: brightness(0);
}
.camera-img {
	position: absolute;
	right: 0;
	top: 10px;
	height: 280px;
}
.people-img {
	position: absolute;
	top: 260px;
	right: 160px;
	height: 372px;
}
.btn-default{
	border: 1px solid #000;
	background-color: rgb(255, 255, 255);
	color: #000000 !important;
	border-radius: 2px;
	font-weight: 700;

}
.btn-warning, .btn-success, .btn-danger {
	border: 1px solid;
	border-radius: 2px;
	font-weight: 700;
}
.btn-primary{
	border-radius: 2px;
	background-color: rgb(0, 0, 0);
	color: #fff !important;
	font-weight: 700;
	border: 1px solid #000;

}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #6d6d6d;
	border-color: #6d6d6d;
}

.dark-btn {
	border-radius: 2px;
	background-color: rgb(0, 0, 0);
	color: #fff !important;
	padding: 8px 35px;
	cursor: pointer;
	font-weight: 700;
	z-index: 1;
	position: relative;
	border: 0;
}
.white-btn {
	border: 1px solid #000;
	background-color: rgb(255, 255, 255);
	color: #000000 !important;
	padding: 7px 20px;
	float: right;
	cursor: pointer;
	display: block;
	text-align: center;
	font-weight: 700;
	z-index: 9999;
	position: relative;
}
.dark-btn:hover {
	background-color: rgb(67, 67, 67) !important;
}
h3 {
	font-family: 'Rodus-Square';
	font-weight: 700;
	margin: 0
}
.d-mobile {
	display: none;
}
.feature {
	margin-top: 40px;
	margin-bottom: 40px;
}
.feature p {
	font-size: 16px;
	margin-bottom:0px;
}
.feature h3 {
	margin-bottom: 10px;
}
.order-top {
	background-color: rgb(30, 30, 30);
	font-size: 18px;
	color: #fff;
	padding: 25px 20px;
	font-family: 'Rodus-Square';
	font-weight: 500;
}
.order-content {
	background-color: rgb(0, 0, 0);
	color: #fff;
	padding: 40px 30px 30px;
	font-family: 'Rodus-Square';
	font-size: 18px;
}
.order-content hr {
	border-top: 1px solid #606060;
	width: 85px;
	margin: 15px auto;
}
.order-btn {
	background-color: rgb(74, 74, 74);
	font-size: 16px;
	padding: 10px;
	width: 100%;
	display: block;
	color: #fff;
	font-weight: 700;
	font-family: 'Rodus-Square';
}
.order-btn:hover {
	background-color: rgb(80, 80, 80);
	color: #fff;
}
footer {
	background: #000000;
	padding: 35px 0;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	display: block
}
footer img {
	filter: invert(1);
	opacity: 0.20;
}
.form-control {
	border-width: 1px;
	border-color: rgb(133, 133, 133);
	border-style: solid;
	border-radius: 0;
	font-size: 16px;
	color: #000;
	font-weight: 700;
}
.input-group-addon {
	padding: 6px 15px;
	font-size: 13px;
	font-family: 'Rodus-Square';
	line-height: 1;
	color: #8d8d8d;
	text-align: center;
	background-color: #eee;
	border: 1px solid #000;
	border-radius: 0px;
}
.heading {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Rodus-Square';
}

.input-group .form-control {
	border-right: 0;
}
.close {
	font-family: 'Rodus-Square';
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 28px;
	opacity: 0.8;
	padding: 10px;
}
.progress-bar{
	background-color: #000;
	font-weight: 700;
}
.modal-content {
	padding: 20px 35px;
	font-family:'Lane-Narrow';
}

a {
	color: #000;
	cursor: pointer;
}
input[type="file"] {
	display: none;
}
.modal-dialog {
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal.fade .modal-dialog {
	transform: translate(0, -100%);
}
.modal.in .modal-dialog {
	transform: translate(0, 0);
}
@media (max-width: 1015px) {
	#menu {
		margin-top: 0;
	}
	#menu .navbar-brand img {
		height: 50px;
	}
	#menu li {
		margin-left: 5px;
	}
	.features {
		margin-top: 100px;
	}
	.camera-img {
		position: absolute;
		right: 0;
		top: 10px;
		height: 210px;
	}
	.people-img {
		position: absolute;
		top: 200px;
		right: 180px;
		height: 272px;
	}
}
@media (max-width: 910px) {
	.features {
		margin-top: 60px;
	}
}
@media (max-width: 767px) {
	.people-img {
		opacity: 0.2;
	}
	.mobile-margin {
		margin-top: 20px;
		text-align: center
	}
	.navbar-collapse {
		background: #000;
		margin-top: 20px;
	}
	#menu li {
		margin-left: 0px;
		font-weight: 700;
		padding: 10px 0
	}
	#menu li > a,
	#menu li > a:focus {
		color: #fff;
		text-align: center;
	}
	.navbar-nav {
		overflow: hidden;
	}
	.navbar-nav .navbar-toggle {
		color: #fff;
		position: absolute;
		right: 0;
		top: -40px;
	}
}
@media (max-width: 576px) {
	.modal-content {
		padding: 30px 40px;
	}
	.mobile-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body:before {
		background: url(img/map-bg.jpg) left top repeat;
	}
	.dark-btn {
		text-align: center;
		padding: 12px 20px;
		!imporant;
	}
	.d-mobile {
		display: block;
	}
	.d-desktop {
		display: none;
	}
	h3 {
		text-align: center;
		margin-bottom: 30px;
	}
	.features {
		margin-top: 40px;
	}
	.camera-img,
	.people-img {
		position: relative;
		opacity: 1;
	}
	.camera-img {
		top: 40px;
		float: right;
	}
	.people-img {
		top: 50px;
		left: -90px;
	}
	#menu .navbar-brand img {
		height: 35px;
		margin-top: 10px;
	}
	nav .container-fluid {
		padding: 0;
	}
}
@media (max-width: 360px) {
	#menu .navbar-brand img {
		height: 30px;
	}
	.features li {
		font-size: 14px;
	}
}
@media (min-width: 768px) {
	.vertical-align {
		display: flex;
		align-items: center;
	}
	.navbar-collapse {
		margin-top: 20px;
	}
	.dark-btn-menu {
		border-radius: 2px;
		background-color: rgb(0, 0, 0);
		color: #fff !important;
		padding: 8px 35px !important;
		margin-top: 7px;
		cursor: pointer;
	}
	.dark-btn-menu:hover {
		background-color: rgb(67, 67, 67) !important;
	}
	.white-btn-menu {
		border-width: 1px;
		border-color: rgb(0, 0, 0);
		border-style: solid;
		border-radius: 2px;
		background: #fff;
		color: #000 !important;
		padding: 7px 35px !important;
		margin-top: 7px;
		cursor: pointer;
	}
	.white-btn-menu:hover {
		background-color: rgb(250, 250, 250) !important;
	}
	#menu {
		padding: 15px 0;
	}
	#menu .navbar-nav > li > a,
	#menu .navbar-nav > li > a:focus {
		color: #000;
	}
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	background-image: url(/img/loader-blue.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.status {
	width: 100px;
	height: 161px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
}