@font-face {
    font-family: 'Plus Jakarta Display';
    src: url('#{$fonts-path}/PlusJakartaDisplay-Regular.eot');
    src: url('#{$fonts-path}/PlusJakartaDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Regular.woff2') format('woff2'),
        url('#{$fonts-path}/PlusJakartaDisplay-Regular.woff') format('woff'),
        url('#{$fonts-path}/PlusJakartaDisplay-Regular.ttf') format('truetype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Regular.svg#PlusJakartaDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Display';
    src: url('#{$fonts-path}/PlusJakartaDisplay-Medium.eot');
    src: url('#{$fonts-path}/PlusJakartaDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Medium.woff2') format('woff2'),
        url('#{$fonts-path}/PlusJakartaDisplay-Medium.woff') format('woff'),
        url('#{$fonts-path}/PlusJakartaDisplay-Medium.ttf') format('truetype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Medium.svg#PlusJakartaDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Display';
    src: url('#{$fonts-path}/PlusJakartaDisplay-Bold.eot');
    src: url('#{$fonts-path}/PlusJakartaDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Bold.woff2') format('woff2'),
        url('#{$fonts-path}/PlusJakartaDisplay-Bold.woff') format('woff'),
        url('#{$fonts-path}/PlusJakartaDisplay-Bold.ttf') format('truetype'),
        url('#{$fonts-path}/PlusJakartaDisplay-Bold.svg#PlusJakartaDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('#{$fonts-path}/Gotham-Black.eot');
    src: url('#{$fonts-path}/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-path}/Gotham-Black.woff2') format('woff2'),
        url('#{$fonts-path}/Gotham-Black.woff') format('woff'),
        url('#{$fonts-path}/Gotham-Black.ttf') format('truetype'),
        url('#{$fonts-path}/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
