$blue-color: #2277F6;
$white-color: #fff;
$black-color: #000;
$dark-blue-color: #00112C;

$fonts-path: "../fonts"; 
$images-path: "../images"; 

$base-font: 'Plus Jakarta Display';
$secondary-font: 'Gotham';

$base-size: 18px;
$xs-base-size: 16px;
$title-size: 48px;
$xs-title-size: 32px;
$second-title: 24px;
