@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.groups {
    :global(.card-title) {
        sup {
            top: -0.25rem !important;
        }
    }

    .header {
        position: relative;

        @include media-breakpoint-down(md) {
            display: flex;
            align-items: center;

            .icon {
                width: 32px;
                height: 32px;
            }
            .title {

            }
        
            &::after {
                transform: rotate(-90deg);
                opacity: 40%;
                content: url(../assets/rquote.svg);
                // position: absolute;
                // right: 0;
                // top: 0;
                width: auto;
                display: block;
                flex-shrink: 0;
                // height: 100%;
            }
        }
    }
    
    .header:global(.collapsed) {
        &::after {
            transform: rotate(90deg);
        }
    }
}

ul.questions {
    display: flex;
    flex-direction: column;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    > li {
        padding-top: .75rem;
        padding-bottom: .75rem;
        list-style: none;

        &::before {
            content: url(../assets/rquote.svg);
            width: 1rem;
            display: inline-block;
            top: -1px;
            position: relative;
        }

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }

    li + li {
        border-top: 1px solid $border-color-translucent;
    }

    @include media-breakpoint-up(md) {
        // Disable .collapse
        display: flex !important; 

        // Disable .collapsing
        transition: none !important;
        height: auto !important;
    }
}

.cardToggle {
    position: relative;
    
    &::after {
        transform: rotate(-90deg);
        opacity: 40%;
        content: url(../assets/rquote.svg);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
}

.cardToggle:global(.collapsed) {
    &::after {
        transform: rotate(90deg);
    }
}
