@import '@/_variables.scss';

.reviews {
    .author {
        font-size: 0.75rem;
    }
    .company {
        font-size: 0.6875rem;
    }
}

.features {
    position: relative;
    
    @include media-breakpoint-down(md) {
        margin-top: 130px;

        .lockImgRow {
            margin-top: -135px;
        }
        .lockImg {
            width: 220px;
        }
    }


    .featureList {
        :global {
            .card {
                height: 100%;
            }
        }
    }
}

.bottomSlider {
    position: relative;

    @include media-breakpoint-down(md) {
        margin-top: 150px;

        :global(img) {
            margin-top: -150px;
            width: 220px;
        }
    }
}

.social {

    :global {
        .btn {
            color: white;

            &:after {
                content: '';
                width: 45px;
                height: 45px;
                background: #ffffff05;
                border-radius: 50%;
                background-image: url(../assets/arrow-social.svg);
                background-repeat: no-repeat;
                background-position: center;
                visibility: hidden;
            }

            &:hover {
                background: $dark;

                &:after {
                    visibility: visible;
                }
            }
        }
    }
    .link {
        width: 280px;
    }

    .followUs {
        font-size: 0.6875rem;
    }
    .username {
        font-size: 0.75rem;
        font-weight: 500;
    }
}
.peaceOfMind {
    :global {
        @include media-breakpoint-down(md) {
            img {
                width: 220px;
            }
        }
    }
}