@import '@/_variables.scss';

.features {
    position: relative;
    
    @include media-breakpoint-down(md) {
        margin-top: 130px;

        .lockImgRow {
            margin-top: -150px;
        }
    }


    .featureList {
        :global {
            .card {
                height: 100%;
            }
        }
    }
}

.bottomSlider {
    position: relative;

    @include media-breakpoint-down(md) {
        margin-top: 150px;

        :global(img) {
            margin-top: -170px;
        }
    }
}

.social {

    :global {
        .btn {
            color: white;

            &:after {
                content: '';
                width: 45px;
                height: 45px;
                background: #ffffff05;
                border-radius: 50%;
                background-image: url(../assets/arrow-social.svg);
                background-repeat: no-repeat;
                background-position: center;
                visibility: hidden;
            }

            &:hover {
                background: $dark;

                &:after {
                    visibility: visible;
                }
            }
        }
    }
}