@import '@/_variables.scss';

.banner {
    :global(.container) {
        padding-top: 6rem;
        padding-bottom: 6rem;

        @include media-breakpoint-down(xl) {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 4rem;
            padding-bottom: 3.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-left: calc(-1/3 * var(--bs-gutter-x));
        margin-right: calc(-1/3 * var(--bs-gutter-x));
    }
}