@import '@/_variables.scss';

.brand {
    width: 118px;
    @include media-breakpoint-down(md) {
        width: 100px;
    }
}

.header {
    :global {
        .navbar-collapse ul {
            // height: 100vh;
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar {
        align-items: center;
        height: 92px;
    }
    :global(.navbar-extra) {
        display: flex;
        width: 100%;
        align-items: center;
    }
}

@include media-breakpoint-down(lg) {
    .navbar {
        height: 80px;
        .headline {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: column;
        align-items: stretch !important;

        :global(.navbar-extra) {
            overflow: hidden;
            height: 0;
            max-height: 0;
            transition: max-height .35s ease;
        }

        &.expanded {
            height: auto;
            :global(.navbar-extra) {
                height: auto;
                max-height: 100vh;
            }
        }

        :global {
            .navbar-extra {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .navbar-nav {
                flex-grow: 0 !important;
                margin-top: 1rem;
                .navbar-item {
                    a {
                        border: 1px solid var(--bs-secondary-border-subtle);
                        border-radius: $border-radius;
                        padding: .75rem;
                        text-align: center;
                    }
                    margin-top: 0.5rem;
                }

                &.buttons {
                    flex: 1;
                    margin-top: 2rem;
                    li {
                        margin-top: 0.5rem;
                    }
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }

    .header:global(.bg-primary) {
        :global {
            .navbar-nav .navbar-item a {
                border-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
 }

 @include media-breakpoint-down(md) {
    .tryButton {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
 }