.banner {
    position: relative;
    overflow: hidden;
}

.specular {
    mix-blend-mode: color-dodge;
    position: absolute;
    pointer-events: none;
    width: 40%;

    &.left {
        left: 0;
        bottom: 0;
        transform: translateY(50%);
    }
    &.right {
        top: 0;
        right: 0;
        transform: translateX(40%) translateY(-25%);
    }
}


.search {
    max-width: 445px;
    position: relative;

    input {
        padding-left: calc(1.5rem + 24px);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        height: 100%;
        left: 1rem;
        background: url(../assets/search-icon.svg) no-repeat center center;
    }

    .submit {
        position: absolute;
        right: 1rem;
        top: 0;
        height: 100%;
        z-index: 1;
    }
}
