@import '@/_variables';

.banner {
    background: var(--bs-primary) url(../assets/questions-banner.png) no-repeat center center;
    background-size: auto 100%;
    position: relative;

    @include media-breakpoint-down(md) {
        background-image: url(../assets/questions-banner-mobile.png);
    }
}