@import '@/_variables.scss';

.container {
    overflow: hidden;
    background: url('../assets/quote-big.svg') no-repeat 20% 90px;
    padding-top: 90px;
    padding-bottom: 90px;

    @include media-breakpoint-down(lg) {
        padding-top: 72px;
        padding-bottom: 72px;
    }
    @include media-breakpoint-down(md) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.slider {
    position: relative;
    overflow-y: visible !important;
    margin-left: -1rem;
    margin-right: -1rem;

    :global {
        .slick-track {
            display: flex;
            align-items: center;
        }
        
        .slick-slide {
            padding: 0 1rem;
        }

        @include media-breakpoint-down(md) {
            
            .slick-list {
                overflow: visible;
            }
            .slick-slide .card {
                box-shadow: 0 1rem 3rem rgba(#555, .1);
            }
        }
    }
}

.sliderWrapper {
    display: flex;
    flex-direction: column;
 
    .nav {
        :global {
            button {
                width: 56px;
                height: 56px;
                padding: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            position: relative;
            top: -120px;
            height: 0;
            overflow: visible;
        }
        @include media-breakpoint-down(lg) {
            display: flex;
            justify-content: center;
            order: 2;
            margin-top: 48px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 24px;
        }
    }

    
}