// @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Display:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");


@import "./_variables.scss";

@import "bootstrap/scss/bootstrap";

.btn-close {
    width: 48px;
    height: 48px;
    background-size: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    box-sizing: border-box;
}

.form-control {
    &::placeholder {
        opacity: 0.75;
    }   
}

// Headers
@include media-breakpoint-down(sm) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }

    .lead {
        font-size: 1rem;
    }
}

:root {
    --bs-body-font-family: "Plus Jakarta Display", sans-serif;
    --bs-border-radius: 0.75rem;
    --bs-border-width: 1px;
    --bs-border-color: #dee2e655;

    --bs-dark: #17181B;
    --bs-dark-rgb: 23, 24, 27;

    --bs-primary: #2277F6;
    --bs-primary-rgb: 34, 119, 247;
    --bs-body-color: #000;
}

.card {
    --bs-card-border-color: rgba(234, 236, 241, 1);
}

.card-body {
    --bs-card-spacer-x: 1rem;
    --bs-card-spacer-y: 1rem;
    @include media-breakpoint-up(md) {
        --bs-card-spacer-x: 1.5rem;
        --bs-card-spacer-y: 1.5rem;
    }
}

.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.75rem;
}

.btn.wide {
    --bs-btn-padding-x: 2.5rem;
}

// .btn.small {
//     --bs-btn-font-size: 0.875em;
// }

.nav {
    --bs-nav-link-font-weight: bold;
}

.opacity-40 {
    opacity: 0.4 !important;
}

.opacity-60 {
    opacity: 0.6 !important;
}

.container, .container-fluid {
    @include media-breakpoint-down(md) {
        --bs-gutter-x: 3rem;
    }
}

.fs-7 {
    font-size: 0.875rem;
}

.tooltip {
    --bs-tooltip-max-width: 277px;
    --bs-tooltip-padding-x: 1.25rem;
    --bs-tooltip-padding-y: 1rem;
    --bs-tooltip-font-size: 0.75rem;
    --bs-tooltip-bg: var(--bs-body-bg);
    --bs-tooltip-color: var(--bs-body-color);
    .tooltip-inner {
        text-align: left !important;
        // padding: 1rem;
    }

    &.dark {
        --bs-tooltip-bg: var(--bs-primary);
        --bs-tooltip-color: var(--bs-white);
    }
}



input[type=file]::file-selector-button {
    font-size: 0;
    border: none !important;
}

input[type=file] {
    padding-left: 1rem !important;
}